<div class="tab abilities" data-group="primary" data-tab="abilities">
  <h2>
    Abilities
  </h2>
  <div>
    <div class="desc" data-group="primary" data-tab="abilities">
      {{editor content=data.abilitiesDesc target="data.abilitiesDesc" button=true owner=owner editable=editable }}
    </div>
  </div>
</div>