<div class="tab combat" data-group="primary" data-tab="combat">
  <div class="combat-tables">

    <h2>Combat</h2>
    <div class="top-combat-tables">
      <div class="tables-left">

        <div>
          <h3 class="armorLocationHeader">
            <span>Hit Locations</span><span>Armor Penalty: {{data.attributes.armorPenalty.value}}</span><a
              class="roll-hitlocations-button" title="Roll 1d20" data-roll="1d20"
              data-label="{{#each actor.hitLocations as |item|}}{{item.name}}/{{item.data.rollRangeStart}}/{{item.data.rollRangeEnd}},{{/each}}">Roll
              1d20</a>
          </h3>
          <table id="hitLocation-edit" class="hitLocation-table">
            <thead>
              <th class="hitloc-location-cell">Location</th>
              <th class="hitloc-range-cell">Range</th>
              <th class="hitloc-armor-cell">Armor</th>
              <th class="hitloc-ap-cell">AP</th>
              <th class="hitloc-hp-cell ">
                <div class="hitLoc-flex-cell">
                  <p class="hit-loc-text">HP</p>
                  <span class="max-hp-mod">
                    <span>
                      +
                    </span>
                    <input id="maxHpMod_all" type="text" name="data.attributes.hitPointMod.mod" class=""
                      onclick="this.select()" value="{{data.attributes.hitPointMod.mod}}" />
                  </span>
                </div>
              </th>
            </thead>
            <tbody>
              {{#each actor.hitLocations as |item id|}}
              <tr class="item" data-item-id="{{item._id}}">
                <td class="hitloc-location-cell">
                  <input id="{{id}}_{{item._id}}_name_hitLoc" type="text" name="item.name" data-dtype="text"
                    value="{{item.name}}" />
                </td>
                <td class="hitLoc-flex-cell hitloc-range-cell">
                  <input id="{{id}}_{{item._id}}_rollRangeStart_hitLoc" type="text" name="item.data.rollRangeStart"
                    value="{{item.data.rollRangeStart}}" />
                  <p class="hit-loc-text">-</p>
                  <input id="{{id}}_{{item._id}}_rollRangeEnd_hitLoc" type="text" name="item.data.rollRangeEnd"
                    value="{{item.data.rollRangeEnd}}" />
                </td>
                <td class="hitloc-armor-cell">
                  {{item.data.armors}}
                </td>
                <td class="hitloc-ap-cell">
                  <p class="hit-loc-text">{{item.data.ap}}</p>
                </td>
                <td class="hitLoc-flex-cell hitloc-hp-cell">
                  <input id="{{id}}_{{item._id}}_currentHp_hitLoc" type="text" name="item.data.currentHp"
                    value="{{item.data.currentHp}}" />
                  <p class="max-hp"> / {{item.data.maxHp}}</p>
                  <div class="max-hp-mod">
                    <span>
                      +
                    </span>
                    <input id="{{id}}_{{item._id}}_maxHpMod_hitLoc" type="text" name="item.data.maxHpMod" class=""
                      onclick="this.select()" value="{{item.data.maxHpMod}}" />
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tables-right">
        <div>
          <h3>
            <span>Resistances</span>
          </h3>
          <table class="resistances-table">
            <thead>
              <th>
                Name
              </th>
              <th>
                Base Char
              </th>
              <th>
                Roll
              </th>
            </thead>
            <tbody>
              {{#with (findItemByName actor.standardSkills "Brawn") as |item|}}
              <tr class="item" data-item-id="{{item._id}}">
                <td>
                  <a class="item-name item-control item-edit">
                    {{item.name}}
                  </a>
                </td>
                <td>
                  {{toUpperCase item.data.primaryChar}} + {{ toUpperCase item.data.secondaryChar }}
                </td>
                <td>
                  <a class="skill-val rollableSkill" data-roll="d100" data-label="{{item.name}},{{item.data.totalVal}}">
                    {{item.data.totalVal}}%
                  </a>
                </td>
              </tr>
              {{/with}}
              {{#with (findItemByName actor.standardSkills "Endurance") as |item|}}
              <tr class="item" data-item-id="{{item._id}}">
                <td>
                  <a class="item-name item-control item-edit">
                    {{item.name}}
                  </a>
                </td>
                <td>
                  {{toUpperCase item.data.primaryChar}} + {{ toUpperCase item.data.secondaryChar }}
                </td>
                <td>
                  <a class="skill-val rollableSkill" data-roll="d100" data-label="{{item.name}},{{item.data.totalVal}}">
                    {{item.data.totalVal}}%
                  </a>
                </td>
              </tr>
              {{/with}}
              {{#with (findItemByName actor.standardSkills "Evade") as |item|}}
              <tr class="item" data-item-id="{{item._id}}">
                <td>
                  <a class="item-name item-control item-edit">
                    {{item.name}}
                  </a>
                </td>
                <td>
                  {{toUpperCase item.data.primaryChar}} + {{ toUpperCase item.data.secondaryChar }}
                </td>
                <td>
                  <a class="skill-val rollableSkill" data-roll="d100" data-label="{{item.name}},{{item.data.totalVal}}">
                    {{item.data.totalVal}}%
                  </a>
                </td>
              </tr>
              {{/with}}
              {{#with (findItemByName actor.standardSkills "Willpower") as |item|}}
              <tr class="item" data-item-id="{{item._id}}">
                <td>
                  <a class="item-name item-control item-edit">
                    {{item.name}}
                  </a>
                </td>
                <td>
                  {{toUpperCase item.data.primaryChar}} + {{ toUpperCase item.data.secondaryChar }}
                </td>
                <td>
                  <a class="skill-val rollableSkill" data-roll="d100" data-label="{{item.name}},{{item.data.totalVal}}">
                    {{item.data.totalVal}}%
                  </a>
                </td>
              </tr>
              {{/with}}
            </tbody>
          </table>
        </div>
        <div>
          <h3>
            <span>Wounds and Conditions</span>
          </h3>
          <textarea name="data.conditionsAndWounds">{{data.conditionsAndWounds}}</textarea>
        </div>
      </div>
    </div>
    <div>
      <h3>
        <span>
          Combat Styles
        </span>
        <a class="add-skills-button item-create" title="Create item" data-type="combatStyle">
          +
        </a>
      </h3>
      <table class="basic-skills-table">
        <thead>
          <th>
            Name
          </th>
          <th>
            Base Char
          </th>
          <th>
            Traits
          </th>
          <th>
            Weapons
          </th>
          <th>
            Roll
          </th>
          <th class="delete-column">
            <i class="fas fa-trash"></i>
          </th>
        </thead>
        <tbody>
          {{#each actor.combatStyles as |item id|}}
          <tr class="item" data-item-id="{{item._id}}">
            <td>
              <a class="item-name item-control item-edit">
                {{item.name}}
              </a>
            </td>
            <td>
              {{toUpperCase item.data.primaryChar}} + {{toUpperCase item.data.secondaryChar}}
            </td>
            <td>
              {{item.data.traits}}
            </td>
            <td>
              {{item.data.weapons}}
            </td>
            <td>
              <a class="skill-val rollableSkill" data-roll="d100" data-label="{{item.name}},{{item.data.totalVal}}">
                {{item.data.totalVal}}%
              </a>
            </td>
            <td>
              <a class="item-control item-delete delete-column" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <h2>
      Weapons
    </h2>
    <div>
      <h3>
        <span>
          Melee Weapons
        </span>
        <a class="add-equipment-button item-create" title="Create item" data-type="melee-weapon">
          +
        </a>
      </h3>
      <table class="weapons-table">
        <thead>
          <th>
            Name
          </th>
          <th>
            Damage
          </th>
          <th>
            DM
          </th>
          <th>
            Size
          </th>
          <th>
            Reach
          </th>
          <th>
            AP/HP
          </th>
          <th class="delete-column">
            <i class="fas fa-trash"></i>
          </th>
        </thead>
        <tbody>
          {{#each actor.meleeWeapons as |item id|}}
          <tr class="item" data-item-id="{{item._id}}">
            <td>
              <a class="item-name item-control item-edit">
                {{item.name}}
              </a>
            </td>
            <td>
              <a class="rollableMeleeDamage" data-roll="{{item.data.damage}}"
                data-label="{{item.name}},{{item.data.damage}},{{item.data.damageModifier}},{{item.data.combat-effects}},{{item.data.traits}}">
                {{item.data.damage}}
              </a>
            </td>
            <td>
              <input class="damageModCheck" type="checkbox" name="data.damageModifier"
                {{checked data.damageModifier}} />
            </td>
            <td>
              {{item.data.size}}
            </td>
            <td>
              {{item.data.reach}}
            </td>
            <td>
              {{item.data.ap}} / {{item.data.hp}}
            </td>
            <td>
              <a class="item-control item-delete delete-column" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <hr />
      <h3>
        <span>
          Ranged Weapons
        </span>
        <a class="add-equipment-button item-create" title="Create item" data-type="ranged-weapon">
          +
        </a>
      </h3>
      <table class="weapons-table">
        <thead>
          <th>
            Name
          </th>
          <th>
            Damage
          </th>
          <th>
            DM
          </th>
          <th>
            Force
          </th>
          <th>
            Impale Size
          </th>
          <th>
            Range
          </th>
          <th>
            Load
          </th>
          <th>
            Ammo
          </th>
          <th class="delete-column">
            <i class="fas fa-trash"></i>
          </th>
        </thead>
        <tbody>
          {{#each actor.rangedWeapons as |item id|}}
          <tr class="item" data-item-id="{{item._id}}">
            <td>
              <a class="item-name item-control item-edit">
                {{item.name}}
              </a>
            </td>
            <td>
              <a class="rollableRangedDamage" data-roll="{{item.data.damage}}"
                data-label="{{item.name}},{{item.data.damage}},{{item.data.damageModifier}},{{item.data.combat-effects}}">
                {{item.data.damage}}
              </a>
            </td>
            <td>
              <input class="damageModCheck" type="checkbox" name="data.damageModifier"
                {{checked data.damageModifier}} />
            </td>
            <td>
              {{item.data.force}}
            </td>
            <td>
              {{item.data.impale-size}}
            </td>
            <td>
              {{item.data.range.close}}/{{item.data.range.effective}}/{{item.data.range.long }}
            </td>
            <th>
              {{item.data.load}}
            </th>
            <th>
              {{item.data.ammo}}
            </th>
            <td>
              <a class="item-control item-delete delete-column" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>