header.actor-sheet-header {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100px;
  justify-content: space-between;
  background: url('../assets/sheet/header-background-pattern.jpg');
  background-repeat: repeat;
  color: white;
  padding: 10px;
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);

  input {
    border: 0;
  }

  input:focus {
    outline: none;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .input-label {
    padding: 0px;
    margin: 0px;
    font-size: 0.8em;
    text-shadow: 0px 0px 6px black;
  }

  .header-personal {
    display: flex;
    flex: 0 0 300px;
    .names {
      input {
        color: white;
        border-bottom: solid white 1px;
        border-radius: 0;
        font-family: 'Fanwood';
        background-color: rgba(0, 0, 0, 0);
        text-shadow: 0px 0px 6px black;
      }

      input:focus {
        background-color: rgba(255, 255, 255, 0.05);
      }

      .char-name {
        font-size: 2em;
        height: 35px;
      }
      .player-name {
        margin-top: 13px;
        font-size: 1.3em;
      }
    }

    .token-img {
      border-radius: 0;
      width: 100px;
      height: 100px;
      background-color: rgba(255, 255, 255, 0.1);
      border: 0;
      box-shadow: 0px 0px 6px 2px rgba(53, 40, 40, 0.4);
      margin-right: 10px;
    }
  }

  .header-stats {
    display: flex;
    flex: 0 0 150px;
    justify-content: space-between;
    input {
      background-color: white;
      width: 54px;
      padding-right: 20px;
      height: 54px;
      text-align: right;
      font-size: 2.3em;
      font-family: 'Suravaram';
      border-radius: 30px;
      margin-bottom: 5px;
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
      margin-left: 5px;
    }
    .experience-rolls {
      padding: 0px;
      text-align: center;
    }
    .point-total {
      width: 15px;
      height: 20px;
      margin: 0;
      left: 40px;
      color: black;
      position: relative;
      top: -33px;
      font-size: 0.7em;
    }
    .input-label {
      width: 90px;
      text-align: center;
      height: 28px;
    }
    .stats-container {
      .number-input-container {
        height: 60px;
        .plus-minus-buttons {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 1.2em;

          a:hover {
            text-shadow: 0px 0px 5px white;
          }

          a:active {
            color: #ddd;
          }
        }
        display: flex;
      }

      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
