<form class="{{cssClass}} melee-weapon flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-flex">
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
      </div>
    </div>
  </header>
  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}

  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="equip-section">
      <div class="equipment-core">
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">ENC</h3>
            <input type="text" name="data.encumbrance" value="{{data.encumbrance}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">Quantity</h3>
            <input type="text" name="data.quantity" value="{{data.quantity}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">AP</h3>
            <input type="text" name="data.ap" value="{{data.ap}}" />
          </div>
          <div>/</div>
          <div>
            <h3 class="core-info">HP</h3>
            <input type="text" name="data.hp" value="{{data.hp}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">Value</h3>
            <input type="text" name="data.value" value="{{data.value}}" />
          </div>
        </div>
      </div>
    </div>
    <h2>Description</h2>
    <div class="desc skill-section" data-group="primary">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      <!--<textarea class="editor" name="data.description">{{data.description}}</textarea>-->
    </div>
  </section>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}
</form>